.dialer__container {
	padding: 8px 8px 8px 0;
}

.dialer__form {
	margin: 0;
	border: 1px solid #DDD;
	@include border-radius(2px);
	width: 150px;
	overflow: hidden;
	.dialer {
		width: 130px;
		height: 30px;
		padding-right: 30px;
		box-shadow: none;
		.dialer__container & {
			height: 30px;
			border: none;
		}
	}
	.glyphicon-refresh-animate {
		top: 27px;
		position: absolute;
		right: 27px;
		color: #999;
		.dialer__container & {
			right: 7px;
			top: 8px;
		}
	}
	.dialer_box {
		float: left;
		border-right: 1px solid #DDD;
	}
	.dialer_button {
		float: right;
		margin-top: 7px;
		margin-right: 1px;
		margin-left: 1px;
	}
}