.dialer__container {
	padding: 8px 8px 8px 0;
}

.dialer__form {
	.dialer__container & {
		margin: 0;
		border: 1px solid #DDD;
		@include border-radius(2px);
		width: 150px;
	}
	.dialer {
		height: 40px;
		padding-right: 30px;
		box-shadow: none;
		.dialer__container & {
			height: 30px;
			border: none;
		}
	}
	.glyphicon-refresh-animate {
		top: 27px;
		position: absolute;
		right: 27px;
		color: #999;
		.dialer__container & {
			right: 7px;
			top: 8px;
		}
	}
}